body{
    margin: 0px;
    padding: 0px;
    width: 1600px;
    
    margin: auto;
}

/* Navbar Section */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    
}

.navbar .menu ul li {
    display: inline;
    align-items: center;
    list-style: none;
    margin-right: 30px;
}

.navbar .menu ul li a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}

.navbar .btn button {
    height: 40px;
    width: 150px;
    background-color: #469165;
    border: none;
    border-radius: 5px;
}

.navbar .btn button:hover{
    background-color: #f95555;
}

.navbar .btn button a {
    text-decoration: none;
    color: white;
}


/* Hero Section */

.hero {
    background-image: url(./Assets/hero-bg.png);
    text-align: center;
    padding: 115px 120px 180px;
    background-repeat: no-repeat; 
}

.hero .top-btn button{
    height: 35px;
    width: 230px;
    background-color: white;
    border-radius: 30px;
    border: none;
}
.hero .top-btn button:hover{
    background-color: #f95555;
}
.hero .top-btn button a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    color: #469165;
}
.hero .top-btn button a:hover{
    color: white;
}
.hero h1 {
    font-family: sans-serif;
    font-size: 60px;
    margin-bottom: 0px;
    color: white;
    margin-top: 15px;
}
.hero h2 {
    font-family: sans-serif;
    font-size: 60px;
    color: #30B868;
    margin-top: 3px;
    margin-bottom: 0px;
}
.hero p {
    font-family: sans-serif;
    color: white;
    font-size: 17px;
    line-height: 30px;
}
.hero .hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero .hero-btn .left-btn button {
    height: 40px;
    width: 250px;
    background-color: #469165;
    border: none;
    border-radius: 5px;
    align-items: center;
    margin-right: 20px;
}

.hero .hero-btn .left-btn button:hover{
    background-color: #f95555;
}

.hero .hero-btn .left-btn button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.hero .hero-btn .right-btn button {
    height: 40px;
    width: 250px;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    align-items: center;
}

.hero .hero-btn .right-btn button:hover{
    background-color: #f95555;
}

.hero .hero-btn .right-btn button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
}


/* Note Section */

.note {
    margin-top: 100px;
    margin-bottom: 100px;
}
.note .note-heading h1{
    font-family: sans-serif;
    font-size: 50px;
    color: #001931;
    text-align: center;
}
.note .note-heading p{
    font-family: sans-serif;
    font-size: 17px;
    color: #001931;
    text-align: center;
    margin-bottom: 50px;
}

.note .note-card-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.note .note-card-section .note-card {
    text-align: center;
    height: 300px;
    width: 320px;
    padding: 16px;
    background-color: #fff2f2; 
}
.note .note-card-section .note-card:hover{
    background-color: aliceblue;
}

.note .note-card-section .note-card .note-card-image{
    background-color: #f95555;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin: auto; 
    margin-top: 30px;
}

.note .note-card-section .note-card .note-card-image img {
    margin-top: 15px;
}

.note .note-card-section .note-card h3 {
    font-family: sans-serif;
    color: #001931;
    font-size: 25px;
}
.note .note-card-section .note-card p {
    font-family: sans-serif;
    width: 250px;
    text-align: center;
    line-height: 30px;
    margin: auto;
    margin-top: -10px;
}

/* <!-- Second Brain Section --> */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container .text{
    margin-left: 50px;
}

.container .text h5 {
    font-family: sans-serif;
    font-size: 18px;
    color: #469165;
    margin-bottom: 0px;
}

.container .text h1 {
    font-family: sans-serif;
    font-size: 50px;
    width: 600px;
    margin-bottom: 0px;

}

.container .text p {
    font-family: sans-serif;
    font-size: 16px;
    color: #001931;
    width: 500px;
    line-height: 25px;

}

.container .text .bullet-section .bullet {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: -20px;
}
.container .text .bullet-section .bullet p {
    margin-left: 10px;
}


/* Challange Section */

.challange {
    height: 350px;
    width: 1360px;
    text-align: center;
    background-color: #F7F6F2;
    padding-top: 50px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.challange h1 {
    font-family: sans-serif;
    font-size: 50px;
    color: #001931;
}

.challange p {
    font-family: sans-serif;
    font-size: 18px;
    color: #627382;
    width: 700px;
    line-height: 25px;
    text-align: center;
    margin: auto;
    margin-top: -15px;
    margin-bottom: 20px;

}

.challange button {
    height: 40px;
    width: 150px;
    background-color: #469165;
    border: none;
    border-radius: 5px;
    margin-bottom: 25px;

}

.challange button:hover{
    background-color: #f95555;
}

.challange button a {
    text-decoration: none;
    color: white;
}